[Desktop Entry]
Name=ROS Lawn Tractor
Comment=ROS Agriculture Ag Simulator
Exec=bash -c "source /root/tractor_ws/devel/setup.bash&& roslaunch lawn_tractor_sim lawn_tractor_sim.launch"
Icon=/usr/lib/share/ros-a.png
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
Keywords=terminal;shell;prompt;command;commandline;